.hero {
    background-color: var(--additional-background);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),                  
        url("../images/hero.jpg");
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal__form {
    width: 100%;
}

.modal__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 12px;
}

.modal__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field-cap {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
    margin-bottom: 4px;
}

.modal__field-input {
    width: 100%;
    height: 40px;
    border-color: #21212133;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field-input:focus,
.modal__field-input:hover {
    outline: 1px solid #188CE8;
    border: transparent;
}

.modal__field-input:focus + .modal__icon,
.modal__field-input:hover + .modal__icon {
    fill: #188CE8;
}

.modal__field--end {
    margin-bottom: 20px;
}

.modal__field input::placeholder {
    color: var(--additional-color);
    padding-left: 16px;
}

.modal__comment:focus,
.modal__comment:hover {
    outline: 1px solid #188CE8;
    border: transparent; 
}

.modal__checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.modal__comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
    border-color: #21212133;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
}

.modal__icon {
    fill: var(--main-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal__mailing-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__name-field, .modal__tel-field, .modal__email-field{
    position: relative;
}

.modal__checkbox-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.modal__checkbox-icon {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid #212121;
    border-radius: 2px;
}

.modal__checkbox-field:checked + .modal__checkbox-icon {
    border-color: var(--accent);
    background-color: var(--accent);
    background-size: contain;
    background-origin: border-box;
}